/***Ä£Ì¬µÇÂ½¿ò***/
.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0, .7);
    z-index: 999;
    /*display: none;*/
}
.modal-dialog {
    width: 370px;
    margin: 120px auto;
}
.modal-content {
    background: #fff;
    border: 1px solid #aaa;
    border-radius: 3px;
    box-shadow: 0 0 5px #aaa;
    padding: 16px 12px;
}
.modal-content h4 {
    font-size: 1.5em;
}
.modal-content .alert {
    margin: 15px 0;
    border: 1px solid #e4393c;
    background: #fee;
    color: #e4393c;
    font-weight: bold;
    padding: 6px;
    border-radius: 2px;
}
.modal-content input {
    box-sizing: border-box; /*×Ü¿í=width+margin*/
    width: 100%;
    margin: 6px 0;
    line-height: 2em;
    border: 1px solid #aaa;
    border-radius: 2px;
    padding: 2px 6px;

}